$bezierFastoutSlowin: cubic-bezier(0.4, 0.0, 0.2, 1);
$durationXS: 200ms;
$durationS: 300ms;
$durationM: 400ms;
$durationL: 600ms;
$durationXL: 800ms;

$clern-blue: #14b8eb;
$clern-blue-gradient:linear-gradient(210deg, rgba(18, 178, 233, 1) 100%, rgba(24, 200, 243, 1) 100%);
$clern-lightGreen:#66ba5a;
$clern-lightYellow: #d3ef8b;
$clern-darkGrey: #322c2e;
$clern-grey: #f3f7ff;

$fontStack: vag-rundschrift-d,
Montserrat,
Gotham,
system-ui,
-apple-system,
BlinkMacSystemFont,
San Francisco,
Segoe UI,
メイリオ,
Meiryo,
Segoe UI,
sans-serif;
$fontWeightThin: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontSizeH1:3rem;
$fontSizeH2: 2rem;
$fontSizeH3: 1.625rem;
$fontSizeBodyL: 1.25rem;
$fontSizeBodyM: 1.125rem;
$fontSizeBodyS: 1rem;
$fontSizeBodyXS: 0.8rem;
$fontSizeSmallest: 0.5rem;
$spaceLetters:0.45px;
$lineHeightTitle: 1.1;
$lineHeightBody: 1.5;

$spaceOuter: 64px;
$spaceXS: 4px;
$spaceS: 8px;
$spaceM: 16px;
$spaceL: 24px;
$spaceXL: 32px;
$space2XL: 48px;
$space3XL: 64px;
$space4XL: 96px;
$space5XL: 128px;
$section-margin:5rem;

$shadow-md: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$shadow-lg: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$shadow-xl: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
$shadow-2xl: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;


.container-fluid {
    max-width: 1700px;
}

.font-body-xs {
    font-size: $fontSizeBodyXS;
}

.btn {
    border-radius: 200px;
    transition: $durationS $bezierFastoutSlowin;

    &-expand {

        &__more {
            display: inline-block;
            position: relative;
            background: white;
            font-size: 1.5rem;
            transition: 0.5s, color 0.2s;
            box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            z-index: 2;
            border-radius: 25px;
            width: 128px;
            cursor: pointer;
            color: $clern-blue;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                left: -100%;
                top: 0;
                height: 100%;
                width: 100%;
                border-radius: 25px;
                background: rgba(0, 172, 224, 1);
                transition: $durationM;
                background: linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
            }
        }

        &__more:hover {
            color: white;
            text-decoration: none;

            &::before {
                left: 0;
            }
        }

        &__more-hidden {
            display: none;
            position: absolute;
            text-transform: uppercase;
            top: 50%;
            left: -25px;
            font-size: $fontSizeBodyS;
            transform: translate(-50%, -50%);
            left: 38%;
            z-index: 2;
            display: inline-block;
        }

        &__more-dots {
            position: absolute;
            font-size: 2rem;
            transform: translate(-50%, -71%);
            right: 5px;
        }


        &--inversed {

            .btn-expand {
                &__more {
                    color: white;
                    text-decoration: none;

                    &::before {
                        left: 0;
                    }

                    &:hover {
                        &::before {
                            left: -100%;
                        }

                        color: $clern-blue;
                    }
                }


            }


        }
    }
}



.font-increased {
    font-size: 150%;
}

.font-size-doubled {
    font-size: 200%;
}


.form-group {
    position: relative;
}

.form-label {
    position: absolute;
    left: 0;
    top: 10px;
    background-color: transparent;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
    transform: translateY(-125%);
    font-size: .75em;
}

.form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    max-width: 270px;
    outline: 0;
    border: 0;
    transition: box-shadow 150ms ease-out;
    background-color: transparent;

    &:-internal-autofill-selected {
        background-color: transparent !important;
        color: white !important;
    }

}

.form-label:hover {
    cursor: text;
}

.form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
}

@keyframes mainOwlImgAnimation {
    from {
        transform: translate(25rem, -18.15rem);
        opacity: 0.4;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}