.container-fluid {
  max-width: 1700px;
}

.font-body-xs {
  font-size: 0.8rem;
}

.btn {
  border-radius: 200px;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-expand__more {
  display: inline-block;
  position: relative;
  background: white;
  font-size: 1.5rem;
  -webkit-transition: 0.5s, color 0.2s;
  transition: 0.5s, color 0.2s;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
          box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2;
  border-radius: 25px;
  width: 128px;
  cursor: pointer;
  color: #14b8eb;
  overflow: hidden;
}

.btn-expand__more::before {
  content: '';
  position: absolute;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: #00ace0;
  -webkit-transition: 400ms;
  transition: 400ms;
  background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
}

.btn-expand__more:hover {
  color: white;
  text-decoration: none;
}

.btn-expand__more:hover::before {
  left: 0;
}

.btn-expand__more-hidden {
  display: none;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: -25px;
  font-size: 1rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 38%;
  z-index: 2;
  display: inline-block;
}

.btn-expand__more-dots {
  position: absolute;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -71%);
          transform: translate(-50%, -71%);
  right: 5px;
}

.btn-expand--inversed .btn-expand__more {
  color: white;
  text-decoration: none;
}

.btn-expand--inversed .btn-expand__more::before {
  left: 0;
}

.btn-expand--inversed .btn-expand__more:hover {
  color: #14b8eb;
}

.btn-expand--inversed .btn-expand__more:hover::before {
  left: -100%;
}

.no-radius {
  border-radius: 0 !important;
}

.font-increased {
  font-size: 150%;
}

.font-size-doubled {
  font-size: 200%;
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  background-color: transparent;
  z-index: 10;
  -webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-label {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  font-size: .75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  max-width: 270px;
  outline: 0;
  border: 0;
  -webkit-transition: -webkit-box-shadow 150ms ease-out;
  transition: -webkit-box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out, -webkit-box-shadow 150ms ease-out;
  background-color: transparent;
}

.form-input:-internal-autofill-selected {
  background-color: transparent !important;
  color: white !important;
}

.form-label:hover {
  cursor: text;
}

.form-input.filled {
  -webkit-box-shadow: 0 2px 0 0 lightgreen;
          box-shadow: 0 2px 0 0 lightgreen;
}

@-webkit-keyframes mainOwlImgAnimation {
  from {
    -webkit-transform: translate(25rem, -18.15rem);
            transform: translate(25rem, -18.15rem);
    opacity: 0.4;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes mainOwlImgAnimation {
  from {
    -webkit-transform: translate(25rem, -18.15rem);
            transform: translate(25rem, -18.15rem);
    opacity: 0.4;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
/*# sourceMappingURL=predefinied.css.map */